---
import Prose from "../components/Prose.astro";
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div>
    <Title class="text-white" text="James Bridge" />
    <p>Hi</p>
    <Prose />
  </div>
</BaseLayout>
