---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageTextBox from "../components/ImageTextBox.astro";
import LinksList from "../components/LinksList.astro";
import Text from "../components/Text.astro";
const allPosts = await Astro.glob("./posts/aiArt/*.md");
const posts = allPosts.map((post) => {
  return {
    title: post.frontmatter.title,
    url: post.url,
  };
});
---

<BaseLayout>
  <div class="p-4 flex flex-col items-center justify-start grow text-white">
    <div class="max-w-[840px] m-auto">
      <h2 class="text-2xl font-bold pb-2 pt-10 mb-10">Stable Diffusion</h2>
      <img
        src="https://imagedelivery.net/eg6Xqa-jIrYvZBm8oCXnhg/547ee26b-211d-4ebb-263a-00cc2e2d3900/XLLandscape"
        alt="Stable Diffusion generated image for a cabin in a forest clearing"
        class="mb-4"
      />
      <div class="mt-10">
        <Text>
          This makes Stable Diffusion a uniquely powerful tool for both artists
          and businesses looking to harness the power of generative art. As a
          local program it offers a high degree of control and security. And
          thanks to powerful features like Dreambooth and KoyahSS, it is
          possible to fine-tune or evenly completely custom-train models that
          specialize in a specific type of image creation.
        </Text>

        <Text>
          While the learning curve can be steep, the rewards of offer are great.
          The ability to iterate through image ideas quickly, and to create
          bespoke content at both a speed and cost never before possible, makes
          Stable Diffusion an exciting offering for almost any individual or
          commercial product in need of original art.
        </Text>

        <Text>
          Below are a range of my tutorials, reviews, and articles covering
          various aspects of image and video generation using Stable Diffusion.
          I also offer 1-2-1 training, and commercial services. For further
          information please visit my services page.
        </Text>
      </div>

      <div class="w-full mt-10">
        <LinksList links={posts} />
      </div>
    </div>
  </div>
</BaseLayout>
