---
import LinksList from "../components/LinksList.astro";
import List from "../components/List.astro";
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import astrologo from "../assets/astro_logo.png";
import expressjslogo from "../assets/expressjs_logo.png";
import reactlogo from "../assets/react_logo.png";

const allPosts = await Astro.glob("./posts/code/*.md");
const posts = allPosts.map((post) => {
  return {
    title: post.frontmatter.title,
    url: post.url,
  };
});
---

<BaseLayout>
  <div
    class="text-white w-full max-w-[800px] m-auto grow flex flex-col items-center justify-start p-4"
  >
    <Title text="Code Articles" />
    <div class="mb-10 flex flex-col md:flex-row items-center justify-center">
      <div class="max-w-[200px] max-h=[140px]">
        <img class="w-full" src={reactlogo.src} alt="" />
      </div>
      <div class="max-w-[300px]">
        <img class="w-full" src={expressjslogo.src} alt="" />
      </div>
      <div class="max-w-[300px]">
        <img class="w-full" src={astrologo.src} alt="" />
      </div>
    </div>
    <LinksList links={posts} />
  </div>
</BaseLayout>
