---
import LinksList from "../components/LinksList.astro";
import List from "../components/List.astro";
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

// Type declaration for the frontmatter structure
interface Frontmatter {
  title: string;
  url: string;
  episode: number;
}

// Get all posts
const allPosts = await Astro.glob("./posts/gameDev/*.md");

// Map and sort the posts by episode number
const posts = allPosts
  .map((post: any) => ({
    title: post.frontmatter.title,
    url: post.url,
    episode: post.frontmatter.episode,
  }))
  .sort((a: any, b: any) => a.episode - b.episode);
---

<BaseLayout>
  <div
    class="text-white w-full max-w-[800px] m-auto grow flex flex-col items-center justify-start p-4"
  >
    <Title text="Game Dev Journey" />
    <LinksList links={posts} />
  </div>
</BaseLayout>
