---
import InfoText from "../components/InfoText.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  .animation-base {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    opacity: 0;
  }

  .p2 {
    animation-name: fadeIn;
    animation-delay: 0.2s;
  }

  .p3 {
    animation-name: fadeIn;
    animation-delay: 0.4s;
  }

  .p4 {
    animation-name: fadeIn;
    animation-delay: 0.6s;
  }

  .p5 {
    animation-name: fadeIn;
    animation-delay: 0.8s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<BaseLayout>
  <div
    class="min-w-full grow gird grid-cols-1 lg:h-[calc(100vh-144px)] bg-white"
  >
    <div class="h-full flex flex-col lg:flex-row relative">
      <div class="relative">
        <img
          src="https://imagedelivery.net/eg6Xqa-jIrYvZBm8oCXnhg/bcbfec27-109b-437f-00ec-0b64872e8e00/XLPortrait"
          alt="profile picture"
          class="object-cover h-full w-full lg:w-[800px]"
        />
        <h1 class="absolute text-white top-8 left-4 text-2xl z-10">
          Hello, I am James Bridge
        </h1>
        <div
          class="absolute top-0 left-0 right-0 bottom-0 bg-[rgba(0,0,0,0.25)]"
        >
        </div>
      </div>
      <div class="flex flex-col justify-evenly p-10 md:pl-20 mt-6 text-start">
        <p class="text-base mb-4 md:text-2xl animation-base">
          Full stack web developer
        </p>
        <p class="text-base mb-6 md:text-2xl animation-base p2">
          Experienced in the civil engineering, finance, and entertainment
          Industry
        </p>
        <p class="text-base mb-6 md:text-2xl animation-base p3">
          Founder and lead developer for RPG Playbook - an AI powered tool for
          tabletop roleplaying games
        </p>
        <p class="text-base mb-6 md:text-2xl animation-base p4">
          Passionate about frontend and UX development
        </p>
        <p class="text-base mb-6 md:text-2xl animation-base p5">
          Working with AI solutions for business since 2018
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
