---
import List from "../components/List.astro";
import Text from "../components/Text.astro";
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="max-w-[1400px] min-w-full grow gird grid-cols-1 h-[calc(100vh-144px)]"
  >
    <div class="grow min-w-full h-1/3 overflow-hidden bg-red-200">
      <img
        class="min-w-full max-w-none h-full object-cover"
        src="https://imagedelivery.net/eg6Xqa-jIrYvZBm8oCXnhg/f7e8c74c-3eba-44af-46a1-f08175841700/basic"
        alt="coding"
      />
    </div>
    <div class="grow min-w-full h-1/3 overflow-hidden bg-green-200">
      <img
        class="min-w-full max-w-none h-full object-cover"
        src="https://imagedelivery.net/eg6Xqa-jIrYvZBm8oCXnhg/00ef8628-a8e9-4d95-a812-eea4f9904500/basic"
        alt="ai art"
      />
    </div>
    <div class="grow min-w-full h-1/3 overflow-hidden bg-blue-200">
      <img
        class="min-w-full max-w-none h-full object-cover"
        src="https://imagedelivery.net/eg6Xqa-jIrYvZBm8oCXnhg/c1489e61-6082-4d7a-9bda-c78d678ccc00/basic"
        alt="apps"
      />
    </div>
  </div>
</BaseLayout>
