---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>My Projects</h1>
  <ul>
    <li>
      <a href="https://naetharucodes.github.io/TaskApp/">Task App</a>
    </li>
    <li>
      <a href="https://naetharucodes.github.io/markdown-editor/"
        >Markdown Editor</a
      >
    </li>
  </ul>
</BaseLayout>
