---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="text-white mx-auto max-w-[840px] mt-10 grow flex flex-col">
    <h1 class="text-orange-700 text-2xl lg:text-4xl mb-4">Services</h1>
    <div class="flex flex-col justify-evenly grow">
      <div class="">
        <div class="mb-10">
          <h2 class="text-lg mb-2 text-orange-700">Web Development</h2>
          <p class="text-sm mb-2">
            Need help with your website or web application. My team and I are
            here to assist. With experience in a wide range of technologies, and
            backgrounds working for major companies, we can help you with every
            stage of your project. From planning and design, to development and
            deployment.
          </p>
          <p class="text-sm mb-2">
            Please reach out if you would like to discuss your needs, and we
            will be happy to arrange a free consultation call.
          </p>
        </div>
        <div class="mb-4">
          <h2 class="text-lg mb-2 text-orange-700">
            Stable Diffusion Generative Art
          </h2>
          <p class="text-sm mb-2">
            Are you in need of artwork for your project. From concept art, to
            detailed high-resolution illustrations, I can help. Generative art
            is an excellent way to add a unique touch to your project, and I can
            create custom pieces to suit your needs.
          </p>
          <p class="text-sm mb-2">
            I am happy to take one off commissions, or work with you on a larger
            project. Please reach out if you would like to discuss your needs,
            and we will be happy to arrange a free consultation call.
          </p>
        </div>
      </div>
      <div>
        <div class="mb-10">
          <h2 class="text-lg mb-2 text-orange-700">
            Web Development 1-2-1 Training
          </h2>
          <p class="text-sm mb-2">
            I offer 1-2-1 training sessions for web development. Whether you are
            a beginner looking to get started, or an experienced developer
            looking to learn a new technology, I can help. I have experience in
            a wide range of technologies, and backgrounds working for major
            companies, and can help you build the skills and understanding
            needed to succeed.
          </p>
          <p class="text-sm mb-2">
            Lessons are booked by the hour. They can be focused on a specific
            topic or technology, or they can follow a more structured course in
            order to ensure you develop the skills needed for your goals.
          </p>
        </div>
        <div class="mb-4">
          <h2 class="text-lg mb-2 text-orange-700">
            Stable Diffusion 1-2-1 Training
          </h2>
          <p class="text-sm mb-2">
            I offer 1-2-1 training sessions Stable Diffusion and Generative
            Artwork. This includes advanced techniques, and how to create your
            own custom pieces. I can help you build the skills and understanding
            needed to succeed. If you would like to learn how to create high
            quality bespoke artwork, including advanced workflows using tools
            such as control-net, ip-adaptor, KohyaSS, and more, then I can help.
          </p>
          <p class="text-sm mb-2">
            Lessons are booked by the hour. They can be focused on a specific
            topic or technology, or they can follow a more structured course in
            order to ensure you develop the skills needed for your goals.
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
