---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="text-white mx-auto max-w-[840px] mt-10 grow flex flex-col p-4 text-start"
  >
    <h1 class="text-orange-700 text-2xl lg:text-4xl mb-4">Services</h1>
    <div class="flex flex-col justify-evenly grow">
      <div class="">
        <div class="mb-10">
          <h2 class="text-lg mb-2 text-orange-700">Web Development</h2>
          <p class="text-sm mb-2">
            Need help with your website or web application. I'm available for
            full projects or consultations. I'm able to assist with
            web-development using JavaScript/TypeScript, Python applications,
            and a range of other technical issues including but not limited to
            cloud configurations, CICD, and bash scripting.
          </p>
          <p class="text-sm mb-2">
            Please reach out if you would like to discuss your needs, and we
            will be happy to arrange a free consultation call.
          </p>
        </div>
        <div class="mb-4">
          <h2 class="text-lg mb-2 text-orange-700">
            Flux & Stable Diffusion Generative Art
          </h2>
          <p class="text-sm mb-2">
            Are you in need of artwork for your project? From concept art, to
            detailed high-resolution illustrations, I can help. Generative art
            is an excellent way to add a unique touch to your project, and I can
            create custom pieces to suit your needs. I'm also an experienced
            traditional artist, and so I can do hand-made retouches or a
            combination of hand-painted and AI generated content to suit your
            needs.
          </p>
          <p class="text-sm mb-2">
            I am happy to take one off commissions, or work with you on a larger
            project. Please reach out if you would like to discuss your needs,
            and we will be happy to arrange a free consultation call.
          </p>
        </div>
      </div>
      <div>
        <div class="mb-10">
          <h2 class="text-lg mb-2 text-orange-700">
            Web Development 1-2-1 Training
          </h2>
          <p class="text-sm mb-2">
            I offer 1-2-1 training sessions for web development. Learning to
            develop software can be hard, and having a guiding hand to help you
            along the way can make all the difference. I'm experienced with
            JavaScript/TypeScript, Python, React, Express, Hono, SQL, MongoDB,
            and a whole lot more.
          </p>
          <p class="text-sm mb-2">
            Lessons are booked by the hour. They can be focused on a specific
            topic or technology, or they can follow a more structured course in
            order to ensure you develop the skills needed for your goals.
          </p>
        </div>
        <div class="mb-4">
          <h2 class="text-lg mb-2 text-orange-700">
            Stable Diffusion 1-2-1 Training
          </h2>
          <p class="text-sm mb-2">
            I offer 1-2-1 training sessions to help you learn local
            image-generation. I'm experienced using both Stable Diffusion and
            Flux. And I can assist you with any of the major software front-ends
            (Automatic1111, Forge, or ComfyUI). I have a large number of custom
            workflows for ComfyUI that I can share wiht you, or we can build out
            new ones that suit your specific needs. I'm also experienced with
            training fine-tunes and Lora in both Stable Diffusion and Flux, and
            can guide you through the process from data-set creation to the
            deployment of your models.
          </p>
          <p class="text-sm mb-2">
            Lessons are booked by the hour. They can be focused on a specific
            topic or technology, or they can follow a more structured course in
            order to ensure you develop the skills needed for your goals.
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
