---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col max-w-[800px] mx-auto mt-10 text-white">
    <h1 class="text-orange-700 text-3xl">UI Examples</h1>

    <p>Some examples of fun UI elements I've created</p>

    <h2 class="text-orange-700 text-xl mt-10">Flip Cards</h2>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Front Title</h2>
          <p>Front of card content</p>
        </div>
        <div class="flip-card-back">
          <h2>Back Title</h2>
          <p>back of card content</p>
        </div>
      </div>
    </div>

    <style>
      .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        perspective: 1000px;
        font-family: sans-serif;
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .flip-card-front {
        background-color: #f1f1f1;
        color: #333;
      }

      .flip-card-back {
        background-color: #333;
        color: #f1f1f1;
        transform: rotateY(180deg);
      }

      h2 {
        margin-bottom: 10px;
      }

      p {
        padding: 0 20px;
      }
    </style>
  </div>
</BaseLayout>
