---

---

<div id="container">
  <ul class="menu">
    <div class="menuToggle"><ion-icon name="apps-outline"></ion-icon></div>
    <li style="--i:0">
      <a href="#"><ion-icon name="add-outline"></ion-icon></a>
    </li>
    <li style="--i:1">
      <a href="#"><ion-icon name="baseball-outline"></ion-icon></a>
    </li>
    <li style="--i:2">
      <a href="#"><ion-icon name="camera-outline"></ion-icon></a>
    </li>
    <li style="--i:3">
      <a href="#"><ion-icon name="cloud-outline"></ion-icon></a>
    </li>
    <li style="--i:4">
      <a href="#"><ion-icon name="cellular-outline"></ion-icon></a>
    </li>
    <li style="--i:5">
      <a href="#"><ion-icon name="file-tray-stacked-outline"></ion-icon></a>
    </li>
    <li style="--i:6">
      <a href="#"><ion-icon name="ice-cream-outline"></ion-icon></a>
    </li>
    <li style="--i:7">
      <a href="#"><ion-icon name="american-football-outline"></ion-icon></a>
    </li>
  </ul>
</div>

<style>
  #container {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    padding: 20px 0 20px 0;
  }

  .menu {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 130px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(100px);
    border-radius: 50%;
    color: white;
  }

  .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    transform: rotate(calc(360deg / -8 * var(--i)));
    color: transparent;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .menu.active li a {
    color: white;
  }

  .menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
  }

  .menuToggle {
    position: absolute;
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    transition: 1.5s;
  }

  .menu.active .menuToggle {
    transform: rotate(675deg);
    color: rgb(194 65 12);
  }
</style>

<script>
  let menuToggle = document.querySelector(".menuToggle");
  let menu = document.querySelector(".menu");

  menuToggle.onclick = function () {
    menu?.classList.toggle("active");
    console.log("toggle");
  };
</script>

<!-- ICON IMPORTS -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
