---
import LinkItem from "./LinkItem.astro";
---

<header
  class="h-[72px] bg-white flex items-center justify-between p-4 text-orange"
>
  <a href="/"><h1 class="font-bold text-1xl md:text-3xl">Naetharu Codes</h1></a>
  <ul class="hidden md:flex">
    <LinkItem text="Code" url="/code" />
    <LinkItem text="AI Art" url="/aiart" />
    <LinkItem text="Projects" url="/projects" />
    <LinkItem text="About Me" url="/aboutme" />
  </ul>
  <div
    id="menu-burger"
    class="flex md:hidden flex-col w-[46px] h-[42px] justify-between"
  >
    <div class="h-1 w-full bg-black"></div>
    <div class="h-1 w-full bg-black"></div>
    <div class="h-1 w-full bg-black"></div>
  </div>
</header>
