---
import LinkItem from "./LinkItem.astro";
---

<header
  class="h-[72px] bg-white flex items-center justify-between p-4 text-orange"
>
  <a href="/"><h1 class="font-bold text-1xl md:text-3xl">Naetharu Codes</h1></a>
  <ul class="hidden md:flex">
    <LinkItem text="Code" url="/code" />
    <LinkItem text="UI" url="/ui" />
    <LinkItem text="AI Art" url="/aiart" />
    <LinkItem text="Projects" url="/projects" />
    <LinkItem text="Services" url="/services" />
    <LinkItem text="About Me" url="/aboutme" />
  </ul>
  <button
    id="menu-burger"
    class="flex md:hidden flex-col w-[46px] h-[42px] justify-evenly"
  >
    <div id="burger-bar-one" class="h-1 w-[46px] bg-black burger"></div>
    <div id="burger-bar-two" class="h-1 w-[46px] bg-black burger"></div>
  </button>
  <div
    id="nav-modal"
    class="absolute top-[72px] left-0 right-0 bg-black text-orange-700 z-20 hide flex flex-col md:hidden"
  >
    <a class="py-4 pl-6" href="/code">Code</a>
    <a class="py-4 pl-6" href="/ui">UI</a>
    <a class="py-4 pl-6" href="/aiart">AI Art</a>
    <a class="py-4 pl-6" href="/projects">Projects</a>
    <a class="py-4 pl-6" href="/services">Services</a>
    <a class="py-4 pl-6" href="/aboutme">About Me</a>
  </div>

  <style>
    .hide {
      opacity: 0;
      visibility: hidden;
    }

    #nav-modal {
      transition: 0.4s;
    }

    .burger {
      animation: cross 1s 1s ease;
      transition: 0.2s;
    }

    .burger1-open {
      transform: rotateZ(-45deg) translateY(10px);
    }

    .burger2-open {
      transform: rotateZ(45deg) translateY(-12px) translateX(-1px);
    }
  </style>

  <script>
    function openModal() {
      document.getElementById("nav-modal")?.classList.toggle("hide");
      document
        .getElementById("burger-bar-one")
        ?.classList.toggle("burger1-open");
      document
        .getElementById("burger-bar-two")
        ?.classList.toggle("burger2-open");
    }

    document
      .getElementById("menu-burger")
      ?.addEventListener("click", openModal);
  </script>
</header>
