---

---

<header
  class="h-[72px] bg-black-dark border-4 border-black flex items-center justify-between p-4 text-orange"
>
  <a href="/"><h1 class="font-bold text-1xl md:text-3xl">Naetharu Codes</h1></a>
  <ul class="hidden md:flex">
    <li class="mx-4 hover:text-teal duration-200">
      <a href="/code">Code</a>
    </li>
    <li class="mx-4 hover:text-teal duration-200">
      <a href="/aiart">AI Art</a>
    </li>
    <li class="mx-4 hover:text-teal duration-200">
      <a href="/projects">Projects</a>
    </li>
    <li class="mx-4 hover:text-teal duration-200">
      <a href="/aboutme">About Me</a>
    </li>
  </ul>
  <div
    id="menu-burger"
    class="flex md:hidden flex-col w-[46px] h-[42px] justify-between"
  >
    <div class="h-1 w-full bg-orange"></div>
    <div class="h-1 w-full bg-orange"></div>
    <div class="h-1 w-full bg-orange"></div>
  </div>
</header>
