---
import StarIcon from "./icons/StarIcon";

const { links } = Astro.props;
---

<ul>
  {
    links.map((link: { title: string; url: string }, index: number) => (
      <li class="flex items-center text-white mt-2">
        <StarIcon />
        <a class="text-white text-xs md:text-sm lg:text-base" href={link.url}>
          {link.title}
        </a>
      </li>
    ))
  }
</ul>
