---
import StarIcon from "./icons/StarIcon";
const { items } = Astro.props;
---

<ul>
  {
    items.map((item: string) => (
      <li class="my-2 flex items-center">
        <StarIcon />
        {item}
      </li>
    ))
  }
</ul>
