---

---

<div
  class="prose prose-p:text-justify prose-p:md:text-justify prose-p:text-sm prose-p:text-regular prose-p:leading-6 min-w-full text-white dark:prose-invert prose-h2:text-orange prose-h2:mt-20 prose-p:my-6 prose-headings:text-left p-4 prose-h1:text-2xl prose-h1:lg:text-4xl prose-h2:text-orange-200 prose-h3:text-orange-200 prose-a:text-blue-400 prose-h4:text-orange-700 prose-h4:text-justify prose-h4:mb-6"
>
  <slot />
</div>
