---

---

<div class="radio-group">
  <input
    type="radio"
    id="option-1"
    name="options"
    value="option-1"
    class="custom-radio"
  />
  <label for="option-1">Option 1</label>

  <input
    type="radio"
    id="option-2"
    name="options"
    value="option-2"
    class="custom-radio"
  />
  <label for="option-2">Option 2</label>

  <input
    type="radio"
    id="option-3"
    name="options"
    value="option-3"
    class="custom-radio"
  />
  <label for="option-3">Option 3</label>
</div>

<style>
  .radio-group {
    margin: 32px 0 32px 0;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .custom-radio {
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }

  .custom-radio + label {
    background-color: grey;
    color: black;
    height: 40px;
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    width: 100px;
    transition: 0.4s;
  }

  .custom-radio:checked + label {
    background-color: rgb(194 65 12);
    color: rgb(255, 255, 255);
    width: 200px;
  }
</style>
