---
const { text } = Astro.props;
---

<div class="flex justify-center items-center">
  <h2 data-text={text} class="relative">{text}</h2>

  <style>
    div {
      background-color: rgb(30, 30, 30);
    }
    h2 {
      display: flex;
      text-transform: uppercase;
      font-weight: bold;
      color: rgb(30, 30, 30);
      -webkit-text-stroke: 1px rgb(194 65 12);
      font-size: 60px;
    }

    h2::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      color: rgb(194 65 12);
      -webkit-text-stroke: 0 rgb(194 65 12);
      border-right: 2px solid rgb(194 65 12);
      overflow: hidden;
      animation: slideText 6s linear infinite;
    }

    @keyframes slideText {
      0% {
        width: 0;
      }
      50% {
        width: 100%;
      }
      100% {
        width: 0;
      }
    }
  </style>
</div>
